@model Employee_Management.Models.EmployeeDetail

@{
    ViewData["Title"] = "Details";
}

<h1></h1>

<div>
    <h4>Details of Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
    </dl>
</div>
<div>
   
    <input type="submit" value="Edit" class="btn btn-outline-success" />|
    <a asp-action="Index" class="btn btn-outline-danger">Back to List</a>
</div>
